/* ============== GLOBAL ============== */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px; 
}

.conteiner {
    max-width: 80rem;
    margin: 0 auto;   
}

.separar {
    margin: 5rem auto;
}

/* ============== BACKGROUND ============== */
.bg-img {
    background-image: url(/CV/img/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

@media (min-width: 480px) {
    .bg-img {
        height: 75vh;
        padding-top: 2rem;
    }
}


/* ============== HEADER ============== */
.header {
    text-align: center;
    color: #ffa229;
    line-height: 5rem;
    margin-top: 10rem;
}

.header img {
    border-radius: 50%;
    width: 15rem;
}


/* ============== NAVEGACION ============== */
.navegacion {
    background-color: #ffffffc4;
    display: flex;
    flex-direction: column;
}

.navegacion a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
    padding: 1.5rem 0;
}

.navegacion a:hover {
    background-color: #ffa22975;
    color: #fff;
}

@media (min-width: 480px) { 
    .navegacion {
        flex-direction: row;
        justify-content: space-around;
        border-radius: 3rem;
    }
    
    .navegacion a:hover:first-child {
        border-radius: 3rem 0 0 3rem;
    }
    
    .navegacion a:hover:last-child {
        border-radius: 0 3rem 3rem 0 ;
    }
}


/* ============== Quien Soy ============== */
.quiensoy {
    margin: 0 auto;
    width: 95%;
}

.quiensoy p {
   font-size: 2rem;
   line-height: 3rem;
}

.quiensoy h3 {
    font-size: 3rem;
    text-align: center;
}